@tailwind base;
@tailwind components;
@tailwind utilities;

.relative {
  position: relative;
}

.truncate {
  overflow: hidden;          /* Hide overflow */
  text-overflow: ellipsis;  /* Add ellipsis (...) for overflowed text */
  white-space: nowrap;       /* Prevent text from wrapping to the next line */
  max-width: 100%;          /* Ensure it doesn't exceed the container width */
}

.truncate:hover::after {
  content: attr(title);      /* Show the title attribute as tooltip */
  position: absolute;
  left: 0;
  top: 100%;                 /* Position below the text */
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;       /* Prevent tooltip text from wrapping */
  z-index: 10;               /* Ensure tooltip is above other elements */
}

@layer base {
  html {
    font-family: 'Chivo', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Chivo', sans-serif;
  }

  body {
background-color: white;
    color: #006400;
  }
}


.gradient-text {
    -webkit-background-clip: text;
    position: relative;
    font-family: 'chivo', sans-serif; /* Use Dela Gothic One font */
    color: #006400;
  }
  
  .gradient-text::after {
    content: 'What Card When?';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: rgba(0, 0, 0, 0.1);
    transform: translate(10px, 10px);
  }