@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Chivo', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Chivo', sans-serif;
  }

  body {
background-color: white;
    color: #006400;
  }
}


.gradient-text {
    -webkit-background-clip: text;
    position: relative;
    font-family: 'Dela Gothic One', sans-serif; /* Use Dela Gothic One font */
    color: #ff4fae;
  }
  
  .gradient-text::after {
    content: 'What Card When?';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: rgba(0, 0, 0, 0.1);
    transform: translate(10px, 10px);
  }